[submodule "db-service"]
	path = db-service
	url = git@github.com:CS520-news-aggregator/db-service
[submodule "llm"]
	path = llm
	url = git@github.com:CS520-news-aggregator/llm
[submodule "recommender"]
	path = recommender
	url = git@github.com:CS520-news-aggregator/recommender
[submodule "bundler"]
	path = bundler
	url = git@github.com:CS520-news-aggregator/bundler
[submodule "scraper"]
	path = scraper
	url = git@github.com:CS520-news-aggregator/scraper
[submodule "news-aggregator-frontend"]
	path = news-aggregator-frontend
	url = git@github.com:CS520-news-aggregator/news-aggregator-frontend
[submodule "news-aggregator"]
	path = news-aggregator
	url = git@github.com:CS520-news-aggregator/news-aggregator
